<template name='aboutMe'>
	<div class='container'>
		<p>EDUCATION

			Columbia College Chicago / Chicago, IL 

			B.A., Interactive Arts And Media ( January 2014 - Present)                                                         

			Instituto de Diseño de Caracas / Caracas, Venezuela    

			B.A., Graphic Design (September 2008 - July 2011)                           

			Kaplan Aspect Dublin / Dublin, Ireland 

			Academic Year English course (September 2007 – July 2008)

			EXPERIENCE   

			Student Worker /  Columbia College Library                                                                                       

			 July 2014 - Present Chicago, IL

			Search standard reference materials, including on-line sources and the Internet, in order to answer patrons’ reference questions.

			Analyze patrons’ requests to determine needed information, and assist in furnishing or locating that information.

			Teach library patrons to search for information using databases.

			Keep records of circulation and materials.

			Check books in and out of the library.

			Graphic designer for special projects in the department.



			Graphic Designer/M&M Extrema Creativa Group                                                              

			 August 2011 - March 2013 Caracas, Venezuela

			Participated in the layout, font color, font type, logos, pictures and other visual of websites - (tutorneo.com.ve).

			Participated in several advertising and marketing strategies.

			Illustrate concept by designing rough layout of art and copy regarding arrangement, size, type size and style, and related aesthetic concepts.

			Prepared work to be accomplished by gathering information and materials.

			Participated and created Identity and Corporate Design for different companies.

			Ensures operation of equipment by completing preventive maintenance requirements; following manufacturer’s instructions; troubleshooting malfunctions; calling for repairs; maintaining equipment inventories; evaluating new equipment.

			Contributes to team effort by accomplishing related results as needed.



			Sales Associate (Manager)/Londis

			Dublin, Ireland February - June 2008 

			Practices suggestive selling, offering every customer related items in order to drive multiple unit sales.

			Understands and properly executes all systems and procedures to ensure a quick and efficient transaction.

			Comprehends and maintains store standards and operating procedures.

			Shares equally in the operational responsibilities of the department.

			Achieves the company standard for sales productivity.

			Adheres to weekly work schedules and is flexible to the needs of business.

			SKILLS

			Mac OS X, Adobe Illustrator, Photoshop, InDesign, After Effects, Microsoft Office.

			HTML, CSS, Bootstrap, Illustration, Photography, branding.

			Fluent in  English and Spanish.
		</p>
	</div>
</template>